body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#leftside {
  float: left;
  width: 30%;
  min-height: 1200px;
  background-color: rgb(77, 192, 154);
}

#rightside {
  float: left;
  width: 70%;
  min-height: 1200px;
  background-color: rgb(238, 226, 192);
  position: relative;
}

#container {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 15%;
  left: 15%;
  /* min-width: 1100px; */
  min-height: 1050px;
  border-radius: 0.7em;
}

header {
  height: 50px;
  background-color: rgba(231, 229, 229, 0.5);
  font-size: 2.75em;
  padding: 0.5em;
  color: rgb(216, 150, 7);
}

header span {
  font-family: 'Sacramento', cursive;
}

nav {
  position: absolute;
  left: 33vh;
  width: max-content;
}

main {
  position: relative;
}

main h2 {
  position: absolute;
  left: 20%;
  top: 6vh;
  margin: 15px 0 200px 50px;
  color: rgb(60, 190, 160);
  text-transform: uppercase;
}

main #photos img {
  margin-top: 6vh;
  margin-left: 5vh;
  border: 0.85em solid rgb(255, 255, 255);
}

section#blogposts {
  position: absolute;
  left: 20%;
  top: 6vh;
  padding: 50px;
}

main .post {
  margin: 25px;
  padding: 25px;
  border: 2px solid rgba(83, 78, 58, 0.6);
  border-radius: 0.5em;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 0.85em;
}

/** Bootstrap Dark Modal Styles **/
.modal-open .modal,
.modal-content,
.btn:focus {
  outline: none !important;
  border: none !important;
}

.modal-content {
  border-radius: 10% !important;
}

.modal-dialog {
  margin-top: 50vh;
}

.modal.dark .modal-body {
  color: white;
  background: #40464b;
}

.modal-footer {
  background: #40464b;
  border-top: 1px solid #40464b;
}

.profile {
  width: 2rem;
  height: 2rem;
}

.relative-position {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 3rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.close {
  color: #fff;
  opacity: 1;
}